

html {
  background-color: #c73939;
}

body {
  background-color: transparent;
  color: #050505;
}

a {
  color: #801318;
}
a:visited {
  color: #801318;
}
a:active, a.active {
  color: #801318;
}
a:hover, a:focus {
  color: #801318;
}

blockquote {
  border-color: #f1cdcd;
}
blockquote p:first-child:before {
  color: #babab9;
}
blockquote small {
  color: #242221;
}
blockquote.pull-right {
  border-right-color: #f1cdcd;
}

hr {
  border-color: #f1cdcd;
}


::-moz-selection {
  background-color: #cde3ff;
}

::selection {
  background-color: #cde3ff;
}

del {
  color: #242221;
}

code,
pre,
var,
kbd,
samp {
  background: #fbf2f2;
}



.fa-border {
  border-color: #f1cdcd;
}


.fa-text-color {
  color: #050505;
}

.fa-text-color-light {
  color: #545352;
}

.fa-text-color-medium {
  color: #242221;
}

.fa-match-border {
  color: #babab9;
}

.fa-match-border-light {
  color: #e8e8e7;
}

.fa-match-link {
  color: #801318;
}

.fa-trans-white-25 {
  color: rgba(255, 255, 255, 0.25);
}

.fa-trans-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.fa-trans-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.fa-trans-black-25 {
  color: rgba(0, 0, 0, 0.25);
}

.fa-trans-black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.fa-trans-black-75 {
  color: rgba(0, 0, 0, 0.75);
}


.page {
  background-color: #fcf7f7;
}

.regions {
  background-color: #fcf7f7;
}

.pr-leaderboard {
  color: #242221;
}
.pr-leaderboard .menu a {
  color: inherit;
}
.pr-leaderboard .menu a.active, .pr-leaderboard .menu a:hover, .pr-leaderboard .menu a:focus {
  color: inherit;
}

.pr-header {
  color: #050505;
  background-color: #ffffff;
}
.pr-header .regions {
  background: inherit;
}

.pr-navbar {
  color: #ffffff;
  background-color: #d56a6a;
}
.pr-navbar .regions {
  background: inherit;
}
.pr-navbar .menu a {
  color: inherit;
}
.pr-navbar .menu a.active, .pr-navbar .menu a:hover, .pr-navbar .menu a:focus {
  color: inherit;
}

.pr-features {
  color: #050505;
  background-color: #f3d4d4;
}
.pr-features .regions {
  background: inherit;
}

.pr-subfeatures {
  color: #050505;
  background-color: #f3d4d4;
}
.pr-subfeatures .regions {
  background: inherit;
}

.pr-footer {
  color: #ffffff;
  background-color: #d56a6a;
}
.pr-footer .regions {
  background: inherit;
}
.pr-footer .menu a {
  color: inherit;
}
.pr-footer .menu a.active, .pr-footer .menu a:hover, .pr-footer .menu a:focus {
  color: inherit;
}


.attribution .l-rw {
  background-color: transparent;
}
.attribution .attribution__link {
  color: #050505;
}


.feed-icon-rss__path {
  fill: rgba(0, 0, 0, 0.6);
}




.menu a {
  color: #801318;
  border-color: #f1cdcd;
}
.menu a:hover, .menu a:focus {
  color: #801318;
}
.menu a.active {
  color: #801318;
}

.menu__item:first-child a {
  border-color: #c5c5c5;
}


.rm-region,
.rm-block,
.rm-block * {
  background-color: inherit;
  color: inherit;
}

.rm-toggle__link, .rm-toggle__link:hover, .rm-toggle__link:focus, .rm-toggle__link:active {
  color: #fafafa;
  background-color: #dd8585;
}
.rm-toggle__icon {
  fill: white;
}
.rm-toggle span {
  background-color: transparent;
}

.rm-block__content .menu__item--active-trail > a {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.095);
}
.rm-block__content .menu a {
  color: inherit;
  background-color: inherit;
}
.rm-block__content .menu a:after, .rm-block__content .menu a:before {
  color: inherit !important;
}
.rm-block__content .menu a:active {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  opacity: 0.9;
}
.rm-block__content .menu a:hover, .rm-block__content .menu a:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.095);
}
.rm-block__content .menu a.active {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.095);
}
.rm-block__content .menu a.active[href="/"] {
  background-color: transparent;
}
.rm-block__content .menu a.active[href="/"]:hover, .rm-block__content .menu a.active[href="/"]:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.095);
}

.ms-vertical .rm-block__content .menu a,
.ms-vertical .rm-block__content .menu a.active[href="/"],
.ms-slidedown .rm-block__content .menu a,
.ms-slidedown .rm-block__content .menu a.active[href="/"] {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.095);
}
.ms-vertical .pr-header__header-second .rm-block__content .menu a,
.ms-vertical .pr-header__header-second .rm-block__content .menu a.active[href="/"],
.ms-slidedown .pr-header__header-second .rm-block__content .menu a,
.ms-slidedown .pr-header__header-second .rm-block__content .menu a.active[href="/"] {
  background-color: rgba(0, 0, 0, 0.05);
}

.ms-offcanvas .rm-block__content {
  opacity: .001;
  background-color: #c73939;
  color: #f4f4f4;
}
.ms-offcanvas .rm-block__content .menu a {
  background-color: rgba(255, 255, 255, 0.095);
}

.ms-tiles .rm-block__content .menu-level-1 > .menu__item {
  background-color: rgba(255, 255, 255, 0.095);
}

.ms-meganav.rm-is-open .rm-block__content .menu-level-1 > .menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.ms-meganav.rm-is-open .rm-block__content .menu-level-1 > .menu__item > span > a {
  background-color: rgba(255, 255, 255, 0.3);
}

.ms-accordion .rm-accordion-trigger {
  background-color: rgba(255, 255, 255, 0.095);
}
.ms-accordion .rm-accordion-trigger:hover, .ms-accordion .rm-accordion-trigger:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.ms-accordion .rm-accordion-trigger__icon {
  background-color: transparent !important;
  fill: white;
}
.rm-block__content .ms-accordion a:hover, .rm-block__content .ms-accordion a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}


.breadcrumb li:before {
  color: #babab9;
}
.breadcrumb a {
  color: #801318;
  text-decoration: none;
}


.pager__link {
  border-color: #f1cdcd;
}
.pager__link:focus, .pager__link:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.pager__link:active {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.75);
  opacity: 0.9;
}

.pager__link--is-active {
  background-color: rgba(255, 255, 255, 0.75);
}
.pager--mini .pager__link--is-active {
  background-color: transparent;
  opacity: 0.65;
}


tr:hover {
  background-color: #faeded;
}

thead tr {
  color: #050505;
  background-color: #f8e8e8;
}

tr,
td,
th {
  border-color: #f1cdcd;
}


textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  color: #050505;
  border-color: #f1cdcd;
  background-color: #ffffff;
}
textarea:focus,
select:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #f1cdcd;
  color: #050505;
}
textarea:hover, textarea:focus,
select:hover,
select:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="week"]:hover,
input[type="week"]:focus {
  background-color: #ffffff;
}
textarea[disabled]:hover, textarea[disabled]:focus,
select[disabled]:hover,
select[disabled]:focus,
input[type="date"][disabled]:hover,
input[type="date"][disabled]:focus,
input[type="datetime"][disabled]:hover,
input[type="datetime"][disabled]:focus,
input[type="datetime-local"][disabled]:hover,
input[type="datetime-local"][disabled]:focus,
input[type="email"][disabled]:hover,
input[type="email"][disabled]:focus,
input[type="month"][disabled]:hover,
input[type="month"][disabled]:focus,
input[type="number"][disabled]:hover,
input[type="number"][disabled]:focus,
input[type="password"][disabled]:hover,
input[type="password"][disabled]:focus,
input[type="search"][disabled]:hover,
input[type="search"][disabled]:focus,
input[type="tel"][disabled]:hover,
input[type="tel"][disabled]:focus,
input[type="text"][disabled]:hover,
input[type="text"][disabled]:focus,
input[type="time"][disabled]:hover,
input[type="time"][disabled]:focus,
input[type="url"][disabled]:hover,
input[type="url"][disabled]:focus,
input[type="week"][disabled]:hover,
input[type="week"][disabled]:focus {
  color: #050505;
}


details {
  border-color: #f1cdcd;
  background-color: #fcf7f7;
}

input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #faeded;
  color: #050505;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  background-color: #eaeaea;
  color: #050505;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #050505;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #050505;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #050505;
}


.form-type-radio label.option,
.form-type-checkbox label.option {
  border-color: #f1cdcd;
  background-color: #ffffff;
}
.form-type-radio label.option:focus, .form-type-radio label.option:hover,
.form-type-checkbox label.option:focus,
.form-type-checkbox label.option:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.ui-dialog .form-text {
  background-color: inherit !important;
  color: black !important;
  border-color: silver !important;
}
.ui-dialog .form-text::-webkit-input-placeholder {
  color: silver;
}
.ui-dialog .form-text::-moz-placeholder {
  color: silver;
}
.ui-dialog .form-text:-ms-input-placeholder {
  color: silver;
}
.ui-dialog .form-text::placeholder {
  color: silver;
}
.ui-dialog .form-type-radio label.option,
.ui-dialog .form-type-checkbox label.option {
  border-color: transparent;
  background-color: inherit;
}
.ui-dialog .form-type-radio label.option:focus, .ui-dialog .form-type-radio label.option:hover,
.ui-dialog .form-type-checkbox label.option:focus,
.ui-dialog .form-type-checkbox label.option:hover {
  color: inherit;
  background-color: inherit;
}

.filter-wrapper {
  border-color: #f1cdcd;
}

.tips {
  color: #050505;
}

.description {
  color: #050505;
}

form .marker {
  color: #c54100;
}

.form-required:after {
  color: #c54100;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-color: #ffded7;
}


.vertical-tabs {
  background-color: #fbf2f2;
  border-color: #f1cdcd;
}

.vertical-tabs__menu {
  background-color: #ffffff;
  border-top-color: #f1cdcd;
}

.vertical-tabs__menu-item {
  background: #ffffff;
  border-color: #f1cdcd;
}
.vertical-tabs__menu-item.is-selected {
  background-color: #fbf2f2;
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #050505;
}

.vertical-tabs__pane {
  background-color: #fbf2f2;
}


button,
.button {
  color: #fafafa;
  background-color: #dd8585;
  border-color: #dd8585;
  opacity: 0.9;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
}
button:hover, button:focus,
.button:hover,
.button:focus {
  opacity: 1;
  color: #fafafa;
  background-color: #dd8585;
}
button:visited,
.button:visited {
  color: #fafafa;
  background-color: #dd8585;
}
button[disabled]:hover,
.button[disabled]:hover {
  opacity: 1;
}

.button--primary {
  color: #fafafa;
  background-color: #801318;
  opacity: 0.9;
  border: 1px #801318 solid;
}
.button--primary:link, .button--primary:visited {
  color: #fafafa;
  background-color: #801318;
  border-color: #801318;
}
.button--primary:hover, .button--primary:focus, .button--primary:active, .button--primary.active {
  color: #fafafa;
  background-color: #801318;
  border-color: #801318;
  opacity: 1;
}

.button--danger {
  color: #623100;
  background-color: transparent;
  opacity: 0.9;
}
.button--danger:link, .button--danger:visited {
  color: #623100;
  background-color: transparent;
  border-color: transparent;
}
.button--danger:hover, .button--danger:focus, .button--danger:active, .button--danger.active {
  color: #623100;
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
}

.button-action {
  opacity: 1;
}

#edit-preview {
  background-color: #ffffff;
  color: #575555;
}

button.link-edit-summary {
  background-color: inherit;
  color: #050505;
}
button.link-edit-summary:hover, button.link-edit-summary:focus {
  background-color: inherit;
  color: #050505;
}


.dropbutton-widget {
  background-color: #fcf7f7;
  border-color: #dd8585;
}
.dropbutton-widget:hover, .dropbutton-widget:focus {
  border-color: #dd8585;
}

.dropbutton .dropbutton-action .button {
  color: #fafafa;
  background-color: #801318;
  opacity: 0.9;
}
.dropbutton .dropbutton-action .button:link, .dropbutton .dropbutton-action .button:visited {
  color: #fafafa;
  background-color: #801318;
  border-color: #f1cdcd;
}
.dropbutton .dropbutton-action .button:hover, .dropbutton .dropbutton-action .button:focus, .dropbutton .dropbutton-action .button:active, .dropbutton .dropbutton-action .button.active {
  color: #fafafa;
  background-color: #801318;
  border-color: #f1cdcd;
  opacity: 1;
}
.dropbutton .secondary-action {
  border-top-color: #dd8585;
}
.dropbutton .secondary-action .button {
  background-color: #fcf7f7;
  color: #575555;
}
.dropbutton .dropbutton-toggle button:hover {
  background-color: transparent;
}

.dropbutton-multiple .dropbutton {
  border-right-color: #dd8585;
}
[dir="rtl"] .dropbutton-multiple .dropbutton {
  border-left-color: #dd8585;
}
.dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 2px 0 0 0;
}

.dropbutton-arrow {
  color: #575555;
}


.file a:before {
  color: #292929;
}


.image-preview {
  background-color: transparent;
}



.filter-help a:after,
.more-help-link a:after {
  color: #c5c5c5;
}


.dev-query {
  color: #f4f4f4;
}

body > pre,
.xdebug-var-dump {
  color: #f4f4f4;
}

.page .xdebug-var-dump {
  color: #050505;
}

body:before {
  color: #623100;
}


.node {
  background-color: #ffffff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}
.node--sticky {
  background-color: transparent;
  box-shadow: none;
}


.aggregator-item {
  background-color: #ffffff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}


.forum .icon svg {
  fill: rgba(0, 0, 0, 0.5);
}


.item-list--search-results {
  background-color: #ffffff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.search-result__snippet-info {
  color: #242221;
}


.comment {
  border-color: #faeeee;
}


.block-social-media-links .platform__link,
.pane-social-media-link-widget .platform__link {
  color: #050505;
  opacity: 0.65;
}
.block-social-media-links .platform__link:hover, .block-social-media-links .platform__link:focus,
.pane-social-media-link-widget .platform__link:hover,
.pane-social-media-link-widget .platform__link:focus {
  opacity: 1;
}


.view-empty:not(:empty) .links a[href="/node/add"] {
  opacity: 0.9;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  color: #fafafa;
  background-color: #801318;
  opacity: 0.9;
  border: 1px #801318 solid;
}
.view-empty:not(:empty) .links a[href="/node/add"]:hover, .view-empty:not(:empty) .links a[href="/node/add"]:focus {
  opacity: 1;
}
.view-empty:not(:empty) .links a[href="/node/add"][disabled]:hover {
  opacity: 1;
}
.view-empty:not(:empty) .links a[href="/node/add"]:link, .view-empty:not(:empty) .links a[href="/node/add"]:visited {
  color: #fafafa;
  background-color: #801318;
  border-color: #801318;
}
.view-empty:not(:empty) .links a[href="/node/add"]:hover, .view-empty:not(:empty) .links a[href="/node/add"]:focus, .view-empty:not(:empty) .links a[href="/node/add"]:active, .view-empty:not(:empty) .links a[href="/node/add"].active {
  color: #fafafa;
  background-color: #801318;
  border-color: #801318;
  opacity: 1;
}


.cke_chrome {
  border-color: #f1cdcd !important;
  border-top-color: #f1cdcd !important;
  border-bottom-color: #f1cdcd !important;
  color: #050505 !important;
}

.cke_top {
  border-bottom-color: #f1cdcd !important;
  background-color: #fcf7f7 !important;
  color: #050505 !important;
}

.cke_bottom {
  border-top-color: #f1cdcd !important;
  background-color: #fcf7f7 !important;
  color: #050505 !important;
}

.cke_reset,
.cke_editable,
.cke_editable *,
textarea.cke_source,
.cke_combopanel {
  background-color: #ffffff !important;
  color: #050505 !important;
}

.cke_combo_off a.cke_combo_button,
a.cke_button_off {
  color: #292929 !important;
}
.cke_combo_off a.cke_combo_button:hover, .cke_combo_off a.cke_combo_button:focus, .cke_combo_off a.cke_combo_button:active,
a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active {
  background-color: #f0f0f0 !important;
  color: #050505 !important;
}

.cke_combo_on a.cke_combo_button,
a.cke_button_on {
  background-color: #f0f0f0 !important;
  color: #050505 !important;
}
.cke_combo_on a.cke_combo_button:hover, .cke_combo_on a.cke_combo_button:focus, .cke_combo_on a.cke_combo_button:active,
a.cke_button_on:hover,
a.cke_button_on:focus,
a.cke_button_on:active {
  background-color: #f0f0f0 !important;
  color: #050505 !important;
}

.cke_panel,
.cke_combopanel {
  background-color: #ffffff !important;
  border-color: #f1cdcd !important;
}

.cke_combo_text {
  color: #050505 !important;
}

.cke_combo_arrow {
  border-top-color: #f1cdcd !important;
}

.cke_panel_listItem a {
  color: inherit !important;
}

* html .cke_panel_listItem a {
  color: #292929 !important;
}
*:first-child + html .cke_panel_listItem a {
  color: #292929 !important;
}

.cke_panel_listItem.cke_selected a {
  background-color: #f0f0f0 !important;
}
.cke_panel_listItem a:hover, .cke_panel_listItem a:focus, .cke_panel_listItem a:active {
  background-color: #f0f0f0 !important;
  color: #050505 !important;
}

.cke_reset_all,
.cke_button_icon:before {
  color: #050505 !important;
}

.cke_resizer {
  border-color: transparent #f1cdcd transparent transparent !important;
}

a.cke_menu_button:after, a.cke_menu_button:before,
a.cke_combo_button:after,
a.cke_combo_button:before,
a.cke_button:after,
a.cke_button:before {
  display: none !important;
}

input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password {
  background-color: white !important;
  color: black !important;
}

.ckeditor-dialog-loading,
.ckeditor-dialog-loading * {
  background-color: #fbf2f2 !important;
  color: #050505 !important;
  border-color: #faeeee !important;
}

