
.tabs {
  padding: 0;
  margin: 16px 0;
  margin: 1rem 0;
}
.tabs ul {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  padding: 0;
}
.tabs ul:before, .tabs ul:after {
  content: " ";
  display: table;
}
.tabs ul:after {
  clear: both;
}
.tabs ul.tabs--primary {
  margin-bottom: 0;
}
.tabs .is-vertical ul.tabs--primary {
  border-bottom: 0;
}
.tabs .is-vertical ul.tabs--primary:before, .tabs .is-vertical ul.tabs--primary:after {
  content: " ";
  display: table;
}
.tabs .is-vertical ul.tabs--primary:after {
  clear: both;
}
.tabs .is-vertical ul.tabs--primary li {
  float: none;
  list-style: none;
}
.tabs .is-vertical ul.tabs--primary li:first-child a {
  border-radius: 2px 2px 0 0;
}
.tabs .is-vertical ul.tabs--primary li:last-child a {
  border-radius: 0 0 2px 2px;
}
.tabs .is-vertical ul.tabs--primary li a {
  color: #fbfbfb;
  background-color: #dd8585;
  opacity: 0.9;
  border: 1px #dd8585 solid;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  margin-bottom: -1px;
  padding: 7px 16px;
  padding: 0.4375rem 1rem;
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  line-height: 1;
  width: auto;
  display: block;
  position: relative;
  transition: all, 225ms, ease-in-out;
}
.tabs .is-vertical ul.tabs--primary li a:link, .tabs .is-vertical ul.tabs--primary li a:visited {
  color: #fbfbfb;
  background-color: #dd8585;
  border-color: #dd8585;
}
.tabs .is-vertical ul.tabs--primary li a:hover, .tabs .is-vertical ul.tabs--primary li a:focus, .tabs .is-vertical ul.tabs--primary li a:active, .tabs .is-vertical ul.tabs--primary li a.active {
  color: #fbfbfb;
  background-color: #dd8585;
  border-color: #dd8585;
  opacity: 1;
}
.tabs .is-vertical ul.tabs--secondary {
  text-align: left;
}
.tabs .is-vertical ul.tabs--secondary:before, .tabs .is-vertical ul.tabs--secondary:after {
  content: " ";
  display: table;
}
.tabs .is-vertical ul.tabs--secondary:after {
  clear: both;
}
.tabs .is-vertical ul.tabs--secondary li {
  list-style: none;
}
.tabs .is-vertical ul.tabs--secondary a {
  display: inline-block;
  line-height: 1;
  color: #292929;
  border-bottom: 1px solid transparent;
  border-left: 3px solid;
  transition: all, 225ms, ease-in-out;
  padding: 11px 16px 7px 14px;
  padding: 0.6875rem 1rem 0.4375rem 0.875rem;
}
.tabs .is-vertical ul.tabs--secondary a:hover, .tabs .is-vertical ul.tabs--secondary a:focus {
  text-decoration: none;
  color: #292929;
  border-bottom: 1px solid #f1cdcd;
}
.tabs .is-vertical ul.tabs--secondary a.active, .tabs .is-vertical ul.tabs--secondary a.is-active {
  border-bottom: 1px solid #c5c5c5;
}
.tabs .is-vertical ul.tabs--secondary a.active:hover, .tabs .is-vertical ul.tabs--secondary a.active:focus, .tabs .is-vertical ul.tabs--secondary a.is-active:hover, .tabs .is-vertical ul.tabs--secondary a.is-active:focus {
  color: #292929;
}
.tabs .is-horizontal ul.tabs--primary {
  border-bottom: 1px solid #f1cdcd;
}
.tabs .is-horizontal ul.tabs--primary li {
  float: left;
  margin: 0 0 0 0;
  list-style: none;
}
.tabs .is-horizontal ul.tabs--primary li ul,
.tabs .is-horizontal ul.tabs--primary li ol {
  display: none;
}
[dir="rtl"] .tabs .is-horizontal ul.tabs--primary li {
  margin-right: 0;
  margin-left: 0;
}
.tabs .is-horizontal ul.tabs--primary li {
  margin-bottom: -1px;
}
.tabs .is-horizontal ul.tabs--primary li:first-child a {
  border-radius: 2px 0 0 0;
}
.tabs .is-horizontal ul.tabs--primary li:last-child a {
  border-radius: 0 2px 0 0;
}
.tabs .is-horizontal ul.tabs--primary a {
  display: block;
  line-height: 1;
  color: #292929;
  background-color: #fcf7f7;
  border: 1px solid #f1cdcd;
  padding: 7px 16px;
  padding: 0.4375rem 1rem;
  transition: background-color, .15s, ease-in-out;
  margin-right: -1px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
}
.tabs .is-horizontal ul.tabs--primary a:hover, .tabs .is-horizontal ul.tabs--primary a:focus {
  color: #292929;
  background-color: #faeded;
  text-decoration: none;
}
.tabs .is-horizontal ul.tabs--primary a.active, .tabs .is-horizontal ul.tabs--primary a.is-active {
  color: #292929;
  background: none;
  border-bottom-color: #fcf7f7;
}
.tabs .is-horizontal ul.tabs--primary a.active:hover, .tabs .is-horizontal ul.tabs--primary a.active:focus, .tabs .is-horizontal ul.tabs--primary a.is-active:hover, .tabs .is-horizontal ul.tabs--primary a.is-active:focus {
  color: #292929;
  background: none;
}
.tabs .is-horizontal ul.tabs--secondary {
  padding: 0;
}
.tabs .is-horizontal ul.tabs--secondary li {
  float: left;
  margin: 0 0 0 0;
  list-style: none;
}
.tabs .is-horizontal ul.tabs--secondary li ul,
.tabs .is-horizontal ul.tabs--secondary li ol {
  display: none;
}
[dir="rtl"] .tabs .is-horizontal ul.tabs--secondary li {
  margin-right: 0;
  margin-left: 0;
}
.tabs .is-horizontal ul.tabs--secondary a {
  display: block;
  line-height: 1;
  color: #292929;
  border-bottom: 1px solid #f4dada;
  transition: all, 225ms, ease-in-out;
  padding: 16px 7px 10px;
  padding: 1rem 0.4375rem 0.625rem;
  margin-right: 16px;
  margin-right: 1rem;
}
.tabs .is-horizontal ul.tabs--secondary a:hover, .tabs .is-horizontal ul.tabs--secondary a:focus {
  text-decoration: none;
  color: #292929;
  border-bottom: 1px solid #f1cdcd;
}
.tabs .is-horizontal ul.tabs--secondary a.active, .tabs .is-horizontal ul.tabs--secondary a.is-active {
  border-bottom: 1px solid #c5c5c5;
}
.tabs .is-horizontal ul.tabs--secondary a.active:hover, .tabs .is-horizontal ul.tabs--secondary a.active:focus, .tabs .is-horizontal ul.tabs--secondary a.is-active:hover, .tabs .is-horizontal ul.tabs--secondary a.is-active:focus {
  color: #292929;
}
@media all and (max-width: 60em) {
  .no-js .tabs ul.tabs--primary {
    border-bottom: 0;
  }
  .no-js .tabs ul.tabs--primary:before, .no-js .tabs ul.tabs--primary:after {
    content: " ";
    display: table;
  }
  .no-js .tabs ul.tabs--primary:after {
    clear: both;
  }
  .no-js .tabs ul.tabs--primary li {
    float: none;
    list-style: none;
  }
  .no-js .tabs ul.tabs--primary li:first-child a {
    border-radius: 2px 2px 0 0;
  }
  .no-js .tabs ul.tabs--primary li:last-child a {
    border-radius: 0 0 2px 2px;
  }
  .no-js .tabs ul.tabs--primary li a {
    color: #fbfbfb;
    background-color: #dd8585;
    opacity: 0.9;
    border: 1px #dd8585 solid;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
    margin-bottom: -1px;
    padding: 7px 16px;
    padding: 0.4375rem 1rem;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    line-height: 1;
    width: auto;
    display: block;
    position: relative;
    transition: all, 225ms, ease-in-out;
  }
  .no-js .tabs ul.tabs--primary li a:link, .no-js .tabs ul.tabs--primary li a:visited {
    color: #fbfbfb;
    background-color: #dd8585;
    border-color: #dd8585;
  }
  .no-js .tabs ul.tabs--primary li a:hover, .no-js .tabs ul.tabs--primary li a:focus, .no-js .tabs ul.tabs--primary li a:active, .no-js .tabs ul.tabs--primary li a.active {
    color: #fbfbfb;
    background-color: #dd8585;
    border-color: #dd8585;
    opacity: 1;
  }
  .no-js .tabs ul.tabs--secondary {
    text-align: left;
  }
  .no-js .tabs ul.tabs--secondary:before, .no-js .tabs ul.tabs--secondary:after {
    content: " ";
    display: table;
  }
  .no-js .tabs ul.tabs--secondary:after {
    clear: both;
  }
  .no-js .tabs ul.tabs--secondary li {
    list-style: none;
  }
  .no-js .tabs ul.tabs--secondary a {
    display: inline-block;
    line-height: 1;
    color: #292929;
    border-bottom: 1px solid transparent;
    border-left: 3px solid;
    transition: all, 225ms, ease-in-out;
    padding: 11px 16px 7px 14px;
    padding: 0.6875rem 1rem 0.4375rem 0.875rem;
  }
  .no-js .tabs ul.tabs--secondary a:hover, .no-js .tabs ul.tabs--secondary a:focus {
    text-decoration: none;
    color: #292929;
    border-bottom: 1px solid #f1cdcd;
  }
  .no-js .tabs ul.tabs--secondary a.active, .no-js .tabs ul.tabs--secondary a.is-active {
    border-bottom: 1px solid #c5c5c5;
  }
  .no-js .tabs ul.tabs--secondary a.active:hover, .no-js .tabs ul.tabs--secondary a.active:focus, .no-js .tabs ul.tabs--secondary a.is-active:hover, .no-js .tabs ul.tabs--secondary a.is-active:focus {
    color: #292929;
  }
}
@media all and (min-width: 60.063em) {
  .no-js .tabs ul.tabs--primary {
    border-bottom: 1px solid #f1cdcd;
  }
  .no-js .tabs ul.tabs--primary li {
    float: left;
    margin: 0 0 0 0;
    list-style: none;
  }
  .no-js .tabs ul.tabs--primary li ul,
  .no-js .tabs ul.tabs--primary li ol {
    display: none;
  }
  [dir="rtl"] .no-js .tabs ul.tabs--primary li {
    margin-right: 0;
    margin-left: 0;
  }
  .no-js .tabs ul.tabs--primary li {
    margin-bottom: -1px;
  }
  .no-js .tabs ul.tabs--primary li:first-child a {
    border-radius: 2px 0 0 0;
  }
  .no-js .tabs ul.tabs--primary li:last-child a {
    border-radius: 0 2px 0 0;
  }
  .no-js .tabs ul.tabs--primary a {
    display: block;
    line-height: 1;
    color: #292929;
    background-color: #fcf7f7;
    border: 1px solid #f1cdcd;
    padding: 7px 16px;
    padding: 0.4375rem 1rem;
    transition: background-color, .15s, ease-in-out;
    margin-right: -1px;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  }
  .no-js .tabs ul.tabs--primary a:hover, .no-js .tabs ul.tabs--primary a:focus {
    color: #292929;
    background-color: #faeded;
    text-decoration: none;
  }
  .no-js .tabs ul.tabs--primary a.active, .no-js .tabs ul.tabs--primary a.is-active {
    color: #292929;
    background: none;
    border-bottom-color: #fcf7f7;
  }
  .no-js .tabs ul.tabs--primary a.active:hover, .no-js .tabs ul.tabs--primary a.active:focus, .no-js .tabs ul.tabs--primary a.is-active:hover, .no-js .tabs ul.tabs--primary a.is-active:focus {
    color: #292929;
    background: none;
  }
  .no-js .tabs ul.tabs--secondary {
    padding: 0;
  }
  .no-js .tabs ul.tabs--secondary li {
    float: left;
    margin: 0 0 0 0;
    list-style: none;
  }
  .no-js .tabs ul.tabs--secondary li ul,
  .no-js .tabs ul.tabs--secondary li ol {
    display: none;
  }
  [dir="rtl"] .no-js .tabs ul.tabs--secondary li {
    margin-right: 0;
    margin-left: 0;
  }
  .no-js .tabs ul.tabs--secondary a {
    display: block;
    line-height: 1;
    color: #292929;
    border-bottom: 1px solid #f4dada;
    transition: all, 225ms, ease-in-out;
    padding: 16px 7px 10px;
    padding: 1rem 0.4375rem 0.625rem;
    margin-right: 16px;
    margin-right: 1rem;
  }
  .no-js .tabs ul.tabs--secondary a:hover, .no-js .tabs ul.tabs--secondary a:focus {
    text-decoration: none;
    color: #292929;
    border-bottom: 1px solid #f1cdcd;
  }
  .no-js .tabs ul.tabs--secondary a.active, .no-js .tabs ul.tabs--secondary a.is-active {
    border-bottom: 1px solid #c5c5c5;
  }
  .no-js .tabs ul.tabs--secondary a.active:hover, .no-js .tabs ul.tabs--secondary a.active:focus, .no-js .tabs ul.tabs--secondary a.is-active:hover, .no-js .tabs ul.tabs--secondary a.is-active:focus {
    color: #292929;
  }
}

